.exp {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-text {
  font-size: 30px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: -webkit-center;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.exp-img {
  width: 600px;
  display: block;
  margin-left: 0px;
}

.job-separator {
  border-bottom: 1px solid gray;
  margin: 20px 0;
}

.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.page-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.comp-logo {
  width: auto;
  height: 50px;
}

@media (max-width: 768px) {
  .icon-container {
    width: 100%;
    justify-content: center;
    gap: 12px;
  }

  .exp {
    width: 100%;
  }

  .job-title {
    font-size: 1.5rem;
  }

  .page-text p {
    font-size: 0.75rem;
  }

  .comp-logo {
    width: auto;
    height: 30px;
  }

  .exp-img {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
}

/* Small phones */
@media (max-width: 375px) {
  .exp {
    width: 100%;
  }

  .icon-container {
    width: 100%;
    justify-content: center;
  }

  .job-title {
    font-size: 1.3rem;
  }

  .page-text p {
    font-size: 0.8rem;
  }

  .comp-logo {
    height: 24px;
  }

  .exp-img {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
}