.msp {
  margin: auto;
  display: flex;
}

.page-text {
  size: 30px;
  margin: auto;
  text-align: -webkit-center;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.icon {
  margin: 10px;
}

.my-stack{
  display: flex;
  justify-content: center;
}